.cta-section {
  position: relative;

  margin: 19.5rem 1.5rem 0 1.5rem;

  @media (min-width: 37.5rem) {
    margin: 20.63rem 2.44rem 0 2.44rem;
  }

  @media (min-width: 62.5rem) {
    margin: 23.81rem 2.44rem 0 2.44rem;
  }

  & > * {
    transition: var(--transition);
  }

  &__content {
    width: 100%;
    max-width: var(--mw-1100);

    position: absolute;
    top: -12rem;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    justify-items: center;
    gap: 1.88rem;

    text-align: center;

    padding: 4.06rem 1.13rem 4rem 1.13rem;

    border-radius: 0.94rem;
    background: var(--primary-clr-one);
    background-image: url(/public/assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-position: -14.88rem -6.44rem;
    background-size: 54.5rem;
    background-repeat: no-repeat;

    @media (min-width: 37.5rem) {
      top: -16.5rem;

      gap: 1.94rem;

      background-position: -1.81rem -7.81rem;
      background-size: 55.63rem;

      padding: 3.56rem 1.13rem 3.56rem 1.13rem;
    }

    @media (min-width: 62.5rem) {
      grid-template-columns: 1.5fr 1fr;
      align-items: center;

      top: -13.75rem;

      background-position: right -9.19rem;
      background-size: 54.5rem;

      padding: 4.5rem 5.94rem 4.31rem 5.94rem;
    }
  }

  &__container {
    display: grid;
    justify-items: center;
    gap: 1rem;

    color: var(--primary-clr-three);

    @media (min-width: 37.5rem) {
      gap: 1.06rem;
    }

    @media (min-width: 62.5rem) {
      justify-items: start;
      justify-self: start;
      text-align: start;
    }
  }

  &__heading {
    max-width: 12ch;

    @media (min-width: 37.5rem) {
      font-size: var(--fs-40);
    }
  }

  &__text {
    max-width: 45ch;

    @media (min-width: 62.5rem) {
      max-width: 48ch;
    }
  }
  @media (min-width: 62.5rem) {
    &__btn {
      justify-self: end;
    }
  }
}
