.cta-section {
  position: relative;

  margin: 19.5rem 1.5rem 0 1.5rem;

  @media (min-width: 37.5rem) {
    margin: 20.69rem 2.44rem 0 2.44rem;
  }

  @media (min-width: 62.5rem) {
    margin: 23.81rem 2.44rem 0 2.44rem;
  }

  & > * {
    transition: var(--transition);
  }

  &__content {
    width: 100%;
    max-width: var(--mw-1100);

    position: absolute;
    top: -11.88rem;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    justify-items: center;

    text-align: center;

    padding: 4.06rem 1.13rem 4rem 1.13rem;

    border-radius: 0.94rem;
    background: var(--primary-clr-one);

    @media (min-width: 37.5rem) {
      top: -16.44rem;
      padding: 3.56rem 1.13rem 3.5rem 1.13rem;
    }

    @media (min-width: 62.5rem) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

      top: -13.75rem;
      text-align: center;

      padding: 4.5rem 5.5rem 2.5rem 5.63rem;
    }
  }

  &__container {
    display: grid;
    justify-items: center;

    @media (min-width: 62.5rem) {
      justify-items: start;
      text-align: start;
    }
  }

  &__heading {
    max-width: 12ch;
    margin-bottom: 0.94rem;

    @media (min-width: 37.5rem) {
      font-size: var(--fs-40);
      margin-bottom: 1.06rem;
    }

    @media (min-width: 62.5rem) {
      font-size: var(--fs-40);
      margin-bottom: 1.06rem;
    }

    &__text {
      max-width: 45ch;
      margin-bottom: 2rem;

      @media (min-width: 37.5rem) {
        margin-bottom: 1.94rem;
      }

      @media (min-width: 62.5rem) {
        max-width: 48ch;
        margin-bottom: 1.94rem;
      }
    }

    &__btn {
      justify-self: end;

      transform: translateY(-1.06rem);
    }
  }
}
