.footer {
  display: grid;
  justify-items: center;
  background: var(--primary-clr-two);

  padding: 253px 40px 64px 40px;

  &__content {
    max-width: var(--mw-1100);

    display: grid;
    gap: 40px;
    justify-items: center;
  }

  &__social-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.footer__container--one {
  display: grid;
  gap: 40px;
}

.footer__logo {
  max-width: 197px;
  padding-bottom: 32px;
}

.footer__nav-list {
  display: grid;
  gap: 32px;
  text-align: center;
}

.footer__nav-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__address-list {
  display: grid;
  gap: 30px;
}

.footer__address-item {
  display: grid;
  justify-items: center;
}

.footer__address-heading {
  opacity: 0.5035;
  color: #fff;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
}
.footer__address-location,
.footer__address-phone,
.footer__address-email {
  opacity: 0.5035;
  color: #fff;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@media (min-width: 900px) {
  .footer__container--one {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container--two {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__nav-list {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    gap: 42px;
    text-align: end;
  }

  .footer__address-list {
    display: grid;
    gap: 30px;

    grid-template-columns: repeat(2, 1fr);
  }

  .footer__address-item {
    display: grid;
    justify-items: start;
  }

  .footer__social-list {
    justify-content: end;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
