.header {
  position: relative;
  z-index: 99;

  padding: 2.19rem 1.5rem 2.13rem 1.5rem;

  background: var(--primary-clr-three);

  &__content {
    max-width: 69.38rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
  }

  &__logo {
    max-width: 202px;
  }
}
