.header {
  position: relative;
  z-index: 99;

  padding: 1.94rem 1.5rem 1.88rem 1.5rem;

  background: var(--primary-clr-three);

  @media (min-width: 37.5rem) {
    padding: 4rem 2.44rem 1.88rem 2.44rem;
  }

  &__content {
    max-width: 69.38rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
  }

  &__logo {
    max-width: 12.63rem;

    @media (min-width: 37.5rem) {
      max-width: 12.69rem;
    }
  }
}
