.intro-section {
  @media (min-width: 37.5rem) {
    margin-top: 2.13rem;
    padding: 0 2.5rem;
  }

  &__content {
    max-width: var(--mw-1100);

    display: grid;
    justify-items: center;
    gap: 1.5rem;

    text-align: center;

    background: var(--primary-clr-one);

    padding: 6.63rem 1.5rem 6.5rem 1.5rem;
    margin: 0 auto;

    @media (min-width: 37.5rem) {
      padding: 4.06rem 1.88rem 3.94rem 1.88rem;

      border-radius: 0.94rem;
    }

    @media (min-width: 62.5rem) {
      padding: 4.06rem 1.88rem 4rem 1.88rem;
    }
  }

  &__text {
    max-width: 40ch;
  }
}
