.intro-section {
  margin: 0 auto;

  &__content {
    max-width: var(--mw-1100);

    display: grid;
    justify-items: center;
    gap: 1.5rem;

    text-align: center;

    background: var(--primary-clr-one);

    padding: 6.63rem 1.5rem 6.5rem 1.5rem;

    @media (min-width: 37.5rem) {
      padding: 4.06rem 1.88rem 3.94rem 1.88rem;
      margin: 2.13rem 2.5rem 0 2.44rem;

      border-radius: 0.94rem;
    }

    @media (min-width: 1000px) {
      margin: 0 auto;
    }
  }

  &__text {
    max-width: 40ch;
  }
}
