.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 16px;

  color: var(--primary-clr-three);
  font-size: var(--fs-15);
  font-weight: 500;
  letter-spacing: 0.31rem;
  text-transform: uppercase;
}
