.links-section {
  margin-top: 7.63rem;

  @media (min-width: 37.5rem) {
    margin-top: 7.56rem;
  }

  @media (min-width: 62.5rem) {
    margin-top: 10.13rem;
  }

  &__content {
    max-width: 69.38rem;

    margin: 0 auto;
  }

  &__list {
    display: grid;
    justify-items: center;
    gap: 3rem;

    text-align: center;

    @media (min-width: 37.5rem) {
      gap: 4.25rem;
    }

    @media (min-width: 62.5rem) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.81rem;
    }

    &-item {
      display: grid;
      justify-items: center;

      position: relative;

      &::after {
        position: absolute;
        content: url(/assets/shared/desktop/bg-pattern-small-circle.svg);
        width: 100%;
        height: auto;
      }
    }

    &-icon {
      margin-bottom: 3rem;

      @media (min-width: 37.5rem) {
        margin-bottom: 3.06rem;
      }

      @media (min-width: 62.5rem) {
        margin-bottom: 3rem;
      }
    }

    &-subheading {
      margin-bottom: 2rem;

      @media (min-width: 37.5rem) {
        margin-bottom: 1.94rem;
      }
    }
  }
}
