.project-link-section {
  margin: 7.44rem 1.5rem 0 1.5rem;

  @media (min-width: 37.5rem) {
    margin: 5.31rem 2.5rem 0 2.44rem;
  }

  @media (min-width: 62.5rem) {
    margin: 10.13rem 2.5rem 0 2.44rem;
  }

  &__content {
    max-width: var(--mw-1100);

    display: grid;
    grid-template-areas:
      "web"
      "app"
      "graphic";
    gap: 1.44rem;

    margin: 0 auto;

    @media (min-width: 62.5rem) {
      grid-template-areas:
        "web app"
        "web graphic";
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.project-link {
  display: grid;
  place-content: center;
  gap: 1.38rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 0.94rem;
  overflow: hidden;

  padding: 5.69rem 1.25rem 5rem 1.25rem;

  @media (min-width: 37.5rem) {
    padding: 3.38rem 1.25rem 3.44rem 1.25rem;
  }

  @media (min-width: 62.5rem) {
    padding: 6.5rem 1.38rem 6.94rem 1.38rem;
  }

  &--web {
    grid-area: web;
    background-image: url(/public/assets/home/mobile/image-web-design.jpg);

    @media (min-width: 37.5rem) {
      background-image: url(/public/assets/home/desktop/image-web-design.jpg);
    }
  }

  &--app {
    grid-area: app;
    background-image: url(/public/assets/home/mobile/image-app-design.jpg);

    @media (min-width: 37.5rem) {
      background-image: url(/public/assets/home/desktop/image-app-design.jpg);
    }
  }

  &--graphic {
    grid-area: graphic;
    background-image: url(/public/assets/home/mobile/image-graphic-design.jpg);

    margin-bottom: 0;

    @media (min-width: 37.5rem) {
      background-image: url(/public/assets/home/desktop/image-graphic-design.jpg);
    }
  }
}

.project-link__subheading {
  text-transform: uppercase;
}
