.benefits-section {
  max-width: var(--mw-1100);

  display: grid;
  justify-items: center;

  margin-top: 2.5rem;

  & > {
    transition: var(--transition);
  }
}

.benefits-section__list {
  display: grid;
  gap: 5rem;
}

.benefits-section__item {
  max-width: 327.04px;
  display: grid;
  justify-items: center;

  text-align: center;
}

.benefits-section__icon {
  margin-bottom: 3rem;
}

.benefits-section__container {
  display: grid;
  gap: 2rem;
}

@media (min-width: 37.5rem) {
  .benefits-section {
    margin: 3.13rem 2.5rem 2.5rem 2.5rem;
  }

  .benefits-section__list {
    gap: 5rem;
  }

  .benefits-section__item {
    max-width: 100%;
    display: grid;
    justify-items: center;

    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    text-align: start;
  }

  .benefits-section__icon {
    margin-bottom: 48px;
  }

  .benefits-section__container {
    display: grid;

    justify-items: start;
    gap: 2rem;
  }
}

@media (min-width: 62.5rem) {
  .benefits-section {
    display: grid;

    justify-items: center;

    margin: 9.75rem auto 2.5rem auto;
  }

  .benefits-section__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.88rem;
  }

  .benefits-section__item {
    max-width: 100%;
    display: grid;
    justify-items: center;

    grid-template-columns: 1fr;
    align-items: center;

    text-align: center;
  }

  .benefits-section__icon {
    margin-bottom: 3rem;
  }

  .benefits-section__container {
    display: grid;

    justify-items: center;
    gap: 2rem;
  }
}
