.hero-section {
  text-align: center;

  overflow: hidden;

  &__content {
    max-width: var(--mw-1100);
    display: grid;
    justify-items: center;
    position: relative;

    grid-template-rows: repeat(2, 1fr);

    color: var(--primary-clr-three);

    background: var(--primary-clr-one);

    padding: 5.06rem 1.5rem 8.69rem 1.5rem;

    transition: 0.8s all;

    background-image: url(/public/assets/home/desktop/bg-pattern-hero-home.svg);
    background-repeat: no-repeat;
    background-position: -0.06rem 6.44rem;

    @media (min-width: 28.13rem) {
      padding: 3.81rem 1.5rem 9.75rem 1.5rem;
    }

    @media (min-width: 37.5rem) {
      border-radius: 1.25rem;
      overflow: hidden;

      justify-items: center;

      padding: 3.81rem 3.63rem 8.25rem 3.63rem;
      margin: 2.13rem 2.5rem;

      background-position: 10.56rem 6.31rem;
    }

    @media (min-width: 62.5rem) {
      grid-template-columns: 1fr 24.25rem;
      grid-template-rows: 1fr;
      align-items: center;

      padding: 9.19rem 3.63rem 9rem 6rem;
      margin: 0 auto;

      background-position: 29.13rem 0;
    }
  }

  &__heading {
    margin-bottom: 1.5rem;
  }

  &__text {
    margin-bottom: 1.5rem;
  }

  &__img {
    max-width: 39rem;
    position: absolute;
    bottom: -23.25rem;
  }
}

@media (min-width: 37.5rem) {
  .hero-section {
    &__container {
      display: grid;
      justify-items: center;
    }

    &__heading {
      margin-bottom: 1.81rem;
    }

    &__text {
      max-width: 46ch;

      margin-bottom: 1.13rem;
    }

    &__img {
      bottom: -22.19rem;
    }
  }
}

@media (min-width: 62.5rem) {
  .hero-section {
    margin-top: 2.06rem;

    &__container {
      text-align: start;
      display: grid;
      align-items: start;
      justify-items: start;
      text-align: start;
    }

    &__heading {
      margin-bottom: 1.94rem;
    }

    &__text {
      margin-bottom: 2.5rem;
    }

    &__img {
      right: -5rem;
      bottom: -15.06rem;
    }
  }
}
