.projects-section {
  padding: 0 1.5rem;
  margin-top: 5.94rem;

  @media (min-width: 37.5rem) {
    padding: 0 2.5rem 0 2.44rem;
    margin-top: 7.56rem;
  }

  @media (min-width: 56.25rem) {
    margin-top: 9.94rem;
  }

  &__content {
    max-width: var(--mw-1100);

    margin: 0 auto;
  }

  &__list {
    display: grid;
    gap: 2.5rem;

    @media (min-width: 37.5rem) {
      gap: 2rem;
    }

    @media (min-width: 50rem) {
      display: grid;

      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
    }

    @media (min-width: 62.5rem) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
      row-gap: 2.13rem;
    }
  }

  &__item {
    min-height: 19.63rem;
    display: grid;
    grid-template-rows: 20rem 9.88rem;
    justify-items: center;

    text-align: center;

    overflow: hidden;
    background: var(--secondary-clr-four);

    border-radius: 0.94rem;

    @media (min-width: 37.5rem) {
      min-height: 19.38rem;

      display: grid;
      justify-items: center;
      grid-template-columns: 21.19rem 1fr;
      grid-template-rows: 1fr;

      align-items: center;

      text-align: center;
    }

    @media (min-width: 50rem) {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr;

      text-align: center;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__container {
    display: grid;
    justify-items: center;
    gap: 0.94rem;

    padding: 2.19rem 1.87rem 1.81rem 1.87rem;

    @media (min-width: 37.5rem) {
      gap: 1rem;

      padding: 0 1.25rem 0 1.25rem;
    }

    @media (min-width: 50rem) {
      padding: 34px 1.25rem 34px 1.25rem;
    }
  }

  &__subheading {
    color: var(--primary-clr-one);
  }
}

@media (min-width: 37.5rem) {
  .projects-section__text {
    max-width: 30ch;
  }
}
