.projects-section {
  margin-top: 95px;

  @media (min-width: 600px) {
    margin: 121px 40px 0 39px;
  }

  &__content {
    max-width: var(--mw-1100);

    padding: 0 24px;
    margin: 0 auto;

    @media (min-width: 600px) {
      padding: 0;
    }

    @media (min-width: 900px) {
      margin: 9.56rem auto 0 auto;
    }
  }

  &__list {
    display: grid;
    gap: 40px;

    @media (min-width: 600px) {
      gap: 32px;
    }

    @media (min-width: 800px) {
      display: grid;

      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
    }

    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }

  &__item {
    min-height: 314px;
    display: grid;
    grid-template-rows: 2fr 0fr;
    grid-template-rows: 320px 158px;
    justify-items: center;

    text-align: center;

    overflow: hidden;
    background: var(--secondary-clr-four);

    border-radius: 0.94rem;

    @media (min-width: 600px) {
      min-height: 310px;

      display: grid;
      justify-items: center;
      grid-template-columns: 49% 51%;
      grid-template-rows: 1fr;

      align-items: center;

      text-align: center;
    }

    @media (min-width: 800px) {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr;

      text-align: center;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__container {
    display: grid;
    justify-items: center;
    gap: 15px;

    padding: 35px 29.9px 29px 29.9px;

    @media (min-width: 600px) {
      gap: 16px;

      padding: 35px 29.9px 29px 29.9px;
      padding: 0;
    }

    @media (min-width: 900px) {
      padding: 2.38rem 1.25rem 1.81rem 1.25rem;
    }
  }

  &__subheading {
    color: var(--primary-clr-one);
  }
}

@media (min-width: 600px) {
  .projects-section__text {
    max-width: 30ch;
  }
}
