.nav__menu-link {
  color: var(--primary-clr-three);
  font-size: var(--fs-24);
  font-weight: var(--fw-400);
  line-height: 1.04;
  letter-spacing: 0.13rem;
}

@media (min-width: 600px) {
  .nav__menu-link {
    color: var(--secondary-clr-two);
    font-size: var(--fs-14);
    font-weight: var(--fw-400);
    line-height: 1;
  }
}

.intro__heading {
  color: var(--primary-clr-three);
  font-size: var(--fs-32);
  font-weight: var(--fw-500);
  line-height: 1.2;
}

.intro__text {
  color: var(--primary-clr-three);
  font-size: var(--fs-15);
  font-weight: var(--fw-400);
  line-height: 1.66;
}

.subheading {
  color: var(--secondary-clr-two);
  font-size: var(--fs-20);
  font-weight: var(--fw-500);
  line-height: 1.3;
  letter-spacing: 0.31rem;
}
