body {
  font-family: var(--ff-primary);
}

.link--primary {
  font-size: var(--fs-24);
  font-weight: var(--fw-400);
  line-height: 1.04;
  letter-spacing: 0.13rem;
  text-transform: uppercase;

  @media (min-width: 700px) {
    font-size: var(--fs-14);
    line-height: 1;
  }
}

.link--secondary {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  line-height: 1;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}

.link--tertiary {
  font-size: var(--fs-16);
  font-style: normal;
  line-height: 1.62;
}

.heading--primary {
  font-size: var(--fs-32);
  font-weight: var(--fw-500);
  line-height: 1.12;

  @media (min-width: 600px) {
    font-size: var(--fs-48);
    line-height: 1;
  }
}

.heading--secondary {
  font-size: var(--fs-32);
  font-weight: var(--fw-500);
  line-height: 1.12;

  @media (min-width: 600px) {
    font-size: var(--fs-40);
  }
}

.subheading--primary {
  font-size: var(--fs-28);
  font-weight: var(--fw-500);
  line-height: 1.28;
  letter-spacing: 0.09rem;

  @media (min-width: 600px) {
    font-size: var(--fs-40);
    line-height: 1.2;
    letter-spacing: 0.13rem;
  }
}

.subheading--secondary {
  font-size: var(--fs-20);
  font-weight: var(--fw-500);
  line-height: 1.3;
  letter-spacing: 0.31rem;
  text-transform: uppercase;
}

.text--primary {
  font-size: var(--fs-15);
  font-weight: var(--fw-400);
  line-height: 1.66;

  @media (min-width: 600px) {
    font-size: var(--fs-16);
    line-height: 1.62;
  }
}

.text--secondary {
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  line-height: 1.62;
}

.text--tertiary {
  font-size: var(--fs-16);
  font-style: normal;
  line-height: 1.66;
}
